.card{
    box-sizing: border-box;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 6px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.322);
    -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.322);
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.322);
    margin-top: 8px;
}

.card > .details{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    margin: 8px 6px;
    text-transform: uppercase;
    font-weight: bold;
}

#out{
    color: rgb(240, 228, 228);
    font-weight: bold;
    padding: 8px;
    border-radius: 6px;
    background-color: rgb(228, 133, 133);
    
}

#out:hover{
    cursor: pointer;
}

#in{
    color: green;
    font-weight: bold;
    padding: 8px;
    border-radius: 6px;
    background-color: rgb(149, 228, 133);
   
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
    gap: 8px; /* Espaçamento entre os cards */
  }

  @media (max-width: 1024px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    }
  }
  
  @media (max-width: 768px) {
    .card-container {
      grid-template-columns: 1fr; /* 1 coluna em telas pequenas */
    }
  }

  .flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
  }
  

mat-icon{
    color: white;
    padding: 8px;
}

mat-icon:hover{
    cursor: pointer;
}

#welcome{
    color: white;
    text-transform: uppercase;
}

.card-graphs{
  box-sizing: border-box;
  border: 1px solid rgb(202, 201, 201);
  border-radius: 6px;
  display: flex;
  height: auto;
  width: 350px;
  padding: 8px;
  flex-direction: column;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.322);
  -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.322);
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.322);
  margin-top: 8px;
}

    