<nav class="nav">
    <span id="welcome">
        Bem Vindo, {{ nomeUsuario }}
    </span>
    <ul class="nav-items flex">
        <mat-icon routerLink="/registro/caixa">
            add
        </mat-icon>
        <mat-icon (click)="logout()">
            logout
        </mat-icon>
    </ul>
</nav>

<div class="container">
    <div class="card ">

        <div class="details">
            <span>Saídas Totais: </span>
            <span id="out" (click)="toOut()"> R$0,00</span>
        </div>
        <div class="divider"></div>
        <div class="details">
            <span>Entradas Totais: </span>
            <span id="in"> R${{  total  }}</span>
            
        </div>
        
    </div>
</div>

<div class="container">
    <div class="card-container">
        <div class="card-graphs">
            <app-card-graphs></app-card-graphs>
        </div>
        <div class="card-graphs">
            <app-card-graphs></app-card-graphs>
        </div>

    </div>
</div>

