<nav class="nav">
    <span id="welcome">
        <mat-icon style="color: white;" routerLink="/dashboard">arrow_back</mat-icon>
    </span>
</nav>

<div class="container">
    <form [formGroup]="formFinanRegister" (ngSubmit)="registerFinan()"
        style="display: flex; flex-direction: column; padding: 16px;">
        <mat-form-field>
            <mat-label>Valor</mat-label>
            <input formControlName="valor" matInput placeholder="R$0.00">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descriçao</mat-label>
            <input formControlName="descricao" matInput placeholder="Pequena descrição do valor">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="idcategoria" [(value)]="categoriaSelecionada" (selectionChange)="onCategoriaChange($event)">
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                  {{ categoria.nome }}
                </mat-option>
              </mat-select>
            
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="idtipo" [(value)]="tipoSelecionado" (selectionChange)="onTipoChange($event)">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
                  {{ tipo.nome }}
                </mat-option>
              </mat-select>
            
        </mat-form-field>
        <input hidden value={{id}} name="idusuario">
        <button class="form-button btn-cadastro">
            Cadastrar
        </button>
    </form>
</div>