.card{
    display: flex;
    flex-direction: column;
    border: 1px solid #b8b6b6;
    width: 50%;
    margin: 0 auto;
    border-radius: 6px;
    box-sizing: border-box;
    translate: 0% 25%;
    -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.322);
    -moz-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.322);
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.322);
}

.card-header{
    padding: 16px;
    border-bottom: 1px solid #a09e9e;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.card-header span.card-title{
    text-transform: uppercase;
    font-weight: bold;
}


.card-footer{
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #a09e9e;

}

.card > .card-content{
    padding: 16px;
}

.card-footer > a.card-footer-button{
    background-color: rgb(99, 187, 99);
    border-radius: 6px;
    border: 1px solid #ececec;
    padding: 16px;
    text-decoration: none;
    color: white;
}

.card-footer > a.card-footer-button:hover{
    color: rgb(99, 187, 99);
    background-color: white ;
    border:1px solid rgb(99, 187, 99);
    border-radius: 6px;
    transition: all .5s;
}

.form-button{
    padding: 8px;
    text-align: center;
    background-color: rgb(83, 83, 219);
    border-radius: 6px;
    border: 1px solid #99e6fd;
    height: 3.5em;
}

button > mat-spinner{
    display: flex;
    color: white;
    justify-content: center;
}

.form-button.btn-login{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.form-button:hover{
    border: 1px solid rgb(83, 83, 219);
    transition: all .5s;
    background-color: white;
    color: rgb(83, 83, 219);
}

button.mat-icon-button {
    padding: 0;
    min-width: auto;
    line-height: 1;
  }