<div class="container">

    <div class="card">
        <div class="card-header">
            <span class="card-title">
                {{ cardTitle }}
            </span>
            <span class="subtitle">
                {{ cardSubTitle}}
            </span>
        </div>
        <div class="card-content">
            <form [formGroup]="formLogin" (ngSubmit)="login()" style="display: flex; flex-direction: column; padding: 16px;">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="exemplo@provedor.com">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Senha</mat-label>
                    <input formControlName="senha" matInput [type]="hide() ? 'password' : 'text'" />
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button class="form-button btn-login" [disabled]="loading">
                    Acesse seu controle
                    <mat-spinner style="text-align: center;" *ngIf="loading" diameter="20"></mat-spinner>
                </button>
            </form>
        </div>
        <div class="card-footer">
            <a class="card-footer-button" routerLink="/registro/novo">Cadastre-se</a>
        </div>
    </div>

    
</div>
