<div class="card-dashboard border-primary t-3">

    <div class="card-dashboard-text">
        <span>Seu saldo atual é:</span>
        <small>Data: {{data}}</small>
    </div>

    <div class="grid">
        <div class="toggle" id="toggleBtn" (click)="toggleValores()">
            <mat-icon >{{mostrarValores ?  'visibility' : 'visibility_off' }}</mat-icon>
        </div>
        <div class="main-value">{{ mostrarValores ? ((receita - despesa) | currency: 'BRL') : '***' }}</div>
        <div class="sub-values">
            <span routerLink="/lista/receita" id="rec">{{ mostrarValores ? (receita | currency: 'BRL') : '***'}} </span>
            <span id="saida">{{ mostrarValores ? (despesa | currency: 'BRL') : '***' }}</span>
        </div>
    </div>

</div>
