<div class="card-dashboard border-primary t-3">

    <div class="card-dashboard-text">
        <span>Seu saldo atual é:</span>
        <small>Data: {{data}}</small>
    </div>

    <div class="grid">
        <div class="toggle" id="toggleBtn">
            <span id="toggleIcon">👁️</span>
        </div>
        <div class="main-value">R${{(receita - despesa).toFixed(2)}}</div>
        <div class="sub-values">
            <span routerLink="/lista/receita" id="rec">R${{ receita }}</span>
            <span id="saida">R${{ despesa }}</span>
        </div>
    </div>

</div>
